cursor-style = block
cursor-style-blink = true
cursor-click-to-move = false

scrollback-limit = 10000000

window-height = 24
window-width = 80

focus-follows-mouse = true

macos-auto-secure-input = true
macos-secure-input-indication = true

auto-update = download

window-inherit-working-directory = false

window-new-tab-position = end

theme = jb-dark
